.wrapper {
    width:100%;
    text-align:center;
    top:30%;
    position:relative;
  }
  p {
    font-family: 'Raleway';
    color: black;
    text-align: center;
    font-size: 17px;
  margin-top: 5px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  }
  img.ri {
    max-width: 40%;
  }

  .cusLeft{
    text-align: initial;
    margin-left: 0px;
  }
  .marRight{
      margin-right: 200px;
  }
  .textCenter{
      text-align: center;
  }
  .cusBg{
      background : #ffffff;
      border-radius: 5px;
  }